<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/auth}" method="post">
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
    </table>
    <button type="submit">Log in</button>
</form>
</body>
</html>