<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td></td>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}">Cheese</td>
        <td th:text="${product.price}">12.0</td>
        <td><a th:href="@{/products/{id}/bucket(id=${product.id})}">Add to bucket</a></td>
    </tr>
</table>

</body>
</html>