<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h1>User profile</h1>
<form th:action="@{/users/profile}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>Matching password</td>
            <td><input type="password" th:field="*{matchingPassword}"/></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>